body, h1, ul, a, p{
  margin: 0px;
  padding: 0px;
}

body {
  height: 1000px;
}

/* 
 * ENCABEZADO 
 * */

header {
  width: 100%;
  height: 60px;
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  background-color: lightskyblue;
  align-items:center;
}

.nombre-app {
  display: inline-block;
  padding: 10px;
  font-weight: normal;
}

nav {
  display: inline-block;
  position: absolute;
  right: 10px;
}
.opciones button{
  display: inline-block;
  padding: 5px;
  border: 0px none;
  background-color: lightskyblue;
}

.opciones button:hover{
  color: white;
}

/*
 * CONTENIDO
 * */

main {
  width:100%;
}

.espacio-nav {
  height: 60px;
}

#tablero {
  margin: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  display: flex;
  flex-wrap: wrap;
}

.cartas {
  margin: 5px;
  padding: 3px;
  min-width: 200px;
  min-height: 200px;
  border: 1px solid black;
  border-radius: 10px;
}

.cartas:hover{
  border-color: lightblue;
}

/*
 * PIE DE PAGINA 
 * */

.pie-pagina {
  width: 100%;
  background-color: black;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
}

.pie-items {
  color: white;
  padding: 5px;
}

.pie-pagina a:hover{
  color: orange;
}

.pie-pagina a{
  text-decoration: none;
}
